<footer>
    <div class="footer-upper flex-h">
        <div class="f-upper-container flex-h">
            <div class="logo">
                <img src="./assets/images/logo.svg" alt="logo">
            </div>
            
            <ul class="flex-h">
                <li><a href="./index.html">Inicio</a></li>
                <li><a href="./participants.html">Participantes</a></li>
                <li><a href="./news.html">Noticias</a></li>
                <li><a href="./forms.html">Inscripción</a></li>
            </ul>
            
            <ul class="flex-h">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="footer-lower flex-h">
        <div class="f-lower-container flex-h">
            <div class="logo">
                <img src="./assets/images/logo_uoc.jpg" alt="UOC">
            </div>
            <p>This wireframe has been created exclusively for its use within the “HTML and CSS Tools II” course at the UOC&apos;s Master Program in Website and WebApp Development. Its reproduction and other uses are not authorized.<br> &copy; <time datetime="2021-03">March 2021</time> - Jordi Tarrida Checa and Universitat Oberta de Catalunya.</p>
        </div>
    </div>
</footer>