/* Generics. Se diseñan los estilos de etiquetas y componentes generales */
/* Textos */
$heading-styles: (
  h1: $font-size-xl,
  h2: $font-size-l,
);

@each $heading, $size in $heading-styles {
  #{ $heading } {
    font-weight: 800;
    color: $text-color;
    text-align: center;
    font-size: $size;
  }
}

p, a {
  text-decoration: none;
  font-size: $font-size-md;
  color: $text-color;
  text-align: justify;
}

a {
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

ul {
  list-style: none;
  li {
    margin-bottom: $margin-xs;
  }
}

/* Etiequetas */
* {
  font-family: $font-family;
  box-sizing: border-box;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: $font-family;
  min-height: 100vh;
  padding: 0 $unit-md;
}

main {
  margin: $margin-md 0;
}

.header, footer {
  width: 100vw;
  background-color: $color-primary;
}

form {
  margin: $margin-xl;
  padding: $padding-xl;
}

hr {
  min-width: 80%;
  max-width: 75vh;
  border: 1px solid $color-secondary;
  margin: 0 0 $margin-md 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

article {
  width: 100%;
}

section {
  max-width: 750px;
}